{{!-- Logged in Renter User Dashboard with option to add new property history, see previous properties, and delete them
--}}

<div class="row ">
    <div class="col-auto mb-4 text-white">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mb-4 mb-md-0 p-4 text-white border border-white rounded bg-custom">
    <!-- Profile Picture -->
    <div class="col-md-3">
        <div class="card mb-4">
            {{!-- hidden element to get the property id --}}
            <form>
            <input type="hidden" id="user-id" name="user-id" value="{{id}}">
            </form>
            {{!-- <img src="{{#if UserDocuments.profile_pic}}{{UserDocuments.link}}{{else}}/images/users/default.jpg{{/if}}"
                class="card-img-top" alt="Profile Picture"> --}}
        <img src="{{profilePicLink}}" class="card-img-top" alt="Profile Picture">
        </div>
    </div>

    <!-- My Profile Display and Edit Form -->
    <div class="col-md-9">
        <div class="row">
            <!-- My Profile Display -->
            <div class="col-md-4">
                <div class="card-body">
                    <h2 class="card-text">{{name}}</h2>
                    <p class="card-text">Email: {{email}}</p>
                    <p class="card-text">Phone: {{phone}}</p>
                    <div class="row">
                        <button id="edit-profile-btn" class="btn btn-primary mt-2">Edit Profile</button>
                    </div>
                    <div class="row">
                    <button id="upload_widget" class=" btn btn-secondary mt-2">Upload Photo</button>
                    </div>
                </div>
            </div>

            <!-- Edit Profile Form (initially hidden) -->
            <div id="edit-profile-form" class="col-md-6 d-none">
                <div class="card-body">
                    <form id="profile-edit-form" data-user-id="{{id}}">
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control" id="newName" name="newName" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" class="form-control" id="newEmail" name="newEmail" value="{{email}}">
                        </div>
                        <div class="form-group">
                            <label>Phone:</label>
                            <input type="text" class="form-control" id="newPhone" name="newPhone" value="{{phone}}">
                        </div>
                        <button type="submit" class="btn btn-success mt-4">Save Changes</button>
                        <button type="button" id="cancel-edit-btn" class="btn btn-secondary mt-4">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- Add Rental History --}}
<div class="row mt-4">
    <div class="col-md-6 mb-4 mb-md-0 p-4 text-white border border-white rounded bg-custom">
        <h3>Add a Current or Previous Residence:</h3>

        <form class="form new-address-form">
            <div class="row">
            <div class="col-md-6 form-group my-2">
                <label for="address-name">Property Name (optional):</label>
                <input class="form-input w-100 my-1" type="text" id="address-name" name="address-name" placeholder="Example: Otter Tail Apartments" />
            </div>
            <div class="col-md-6 form-group my-2">
                <label for="address-line1">Street Address:</label>
                <input class="form-input w-100 my-1" id="address-line1" name="address-line1" placeholder="Example: 123 Main St">
            </div>
            <div class="col-md-6 form-group my-2">
                <label for="address-line2">Apt/Unit:</label>
                <input class="form-input w-100 my-1" id="address-line2" name="address-line2" placeholder="Example: Apt. 3J">
            </div>
            <div class="col-md-6 form-group my-2">
                <label for="address-city">City:</label>
                <input class="form-input w-100 my-1" id="address-city" name="address-city" placeholder="Example: Waconia">
            </div>
            <div class="col-md-6 form-group my-2">
                <label for="address-state">State:</label>
                <input class="form-input w-100 my-1" id="address-state" name="address-state" placeholder="Example: MN">
            </div>
            <div class="col-md-6 form-group my-2">
                <label for="address-zip">Zip Code:</label>
                <input class="form-input w-100 my-1" id="address-zip" name="address-zip" placeholder="Example: 55387">
            </div>
            </div>
            
            {{!-- Move-in and Move-out Dates, Bedrooms, Square Footage, Rent Amount, and Rating --}}
            <div class="row">
                <h4 class="mt-4">Additional Details:</h4>
                <div class="col-md-6 form-group my-2">
                    <label for="address-move-in">Move-in Date:</label>
                    <input class="form-input w-100 my-1" id="address-move-in" name="address-move-in" type="date">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-move-out">Move-out Date:</label>
                    <input class="form-input w-100 my-1" id="address-move-out" name="address-move-out" type="date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group my-2">
                    <label for="address-bedrooms">Bedrooms:</label>
                    <input class="form-input w-100 my-1" id="address-bedrooms" name="address-bedrooms" placeholder="Example: 3br">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-square-footage">Square Footage:</label>
                    <input class="form-input w-100 my-1" id="address-square-footage" name="address-square-footage" placeholder="1200">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-rent-amount">Monthly Rent:</label>
                    <input class="form-input w-100 my-1" id="address-rent-amount" name="address-rent-amount" placeholder="1575">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-rating">My Rating (1-10)</label>
                    <input class="form-input w-100 my-1" id="address-rating" name="address-rating" placeholder="7">
                </div>
                <div class="col-md-12 form-group my-2">
                    <label for="address-review">Add Review (optional):</label>
                    <textarea class="form-input w-100 my-1" id="address-review" name="address-review" placeholder="Example: Loved the location, but the landlord was difficult to work with."> </textarea>
                </div>
            </div>

            <div class="form-group my-4">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

    {{!-- My Rental History --}}
    {{#if UserRentals }}
    <div class="col-md-6 mb-5 mb-md-0 p-4 text-white border border-white rounded bg-custom">
        <h3 class="mb-4">My Rental History:</h3>

        {{#each UserRentals as |property|}}
        <div class="row mb-2">
            <div class="card col-md-12 mb-4 rental-bg-custom border border-light rounded">
                <div class="card-body w-100 text-white">
                    <h6>{{property.name}}</h6>
                    <h6>{{property.address1}}</h6>
                    <h6>{{property.address2}}</h6>
                    <h6>{{property.city}}, {{property.state}} {{property.zip}}</h6>
                    <div class="mt-4">
                        {{#if property.leases.[0].start_date}}
                            <p class="my-1"><strong>Move-in: </strong>{{format_date property.leases.[0].start_date}}</p>
                            {{#if property.leases.[0].end_date}}
                                <p class="my-1"><strong>Move-out: </strong>{{format_date property.leases.[0].end_date}}</p>
                            {{else}}
                                <p class="my-1"><em>Current Residence</em></p>
                            {{/if}}
                            <p class="my-1"><strong>{{property.leases.[0].rent_bedrooms}} </strong> | <strong> {{property.leases.[0].square_footage}} sq ft </strong> | <strong> ${{property.leases.[0].rent_amount}}/mo</strong></p>
                        {{/if}}
                    </div>

                    <!-- Property Reviews -->
                    {{#if property.reviews}}
                    {{#each property.reviews as |review|}}
                    <div class="review mt-4">
                        <p class="my-1"><strong>My Rating: </strong>{{review.rating}} / 10</p>
                        <p class="my-1"><strong>My Review: </strong>{{review.content}}</p>
                    </div>
                    {{/each}}
                    {{/if}}
                </div>

                <div class="col-md-6">
                    <a href="/edit/{{id}}" class="btn btn-sm btn-primary btn-edit mx-2 my-3" data-id="{{id}}">Edit</a>
                    <button class="btn btn-sm btn-danger btn-delete" data-id="{{property.id}}">DELETE</button>
                </div>

                {{!-- <h4><a href="/properties/{{property.id}}">{{property.address1}}</a></h4> --}}
            </div>
            
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

{{!-- helpful json load in console to see the data and property names --}}
<script>
    var data = {{{ json this}}};
    console.log(data);
</script>


    <!-- local upload instantiation -->

<script src="./js/photoUpload.js" ></script>
<script src="./js/renterDashboard.js"></script>
