<div class="row mt-4">
    <div class="col-md-3"></div>
    <div class="col-md-6 mb-4 mb-md-0 p-4 text-white border border-white rounded bg-custom">
        <h3>Edit a Current or Previous Residence:</h3>

        <form class="form new-address-form">
            <input type="hidden" id="property-id" name="property-id" value="{{id}}">
            <div class="row">
                <div class="col-md-6 form-group my-2">
                    <label for="address-name">Property Name (optional):</label>
                    <input class="form-input w-100 my-1" type="text" id="address-name" name="address-name" value="{{name}}"
                        placeholder="Example: Otter Tail Apartments" />
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-line1">Street Address:</label>
                    <input class="form-input w-100 my-1" id="address-line1" name="address-line1" value="{{address1}}"
                        placeholder="Example: 123 Main St">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-line2">Apt/Unit:</label>
                    <input class="form-input w-100 my-1" id="address-line2" name="address-line2" value="{{address2}}"
                        placeholder="Example: Apt. 3J">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-city">City:</label>
                    <input class="form-input w-100 my-1" id="address-city" name="address-city" value="{{city}}"
                        placeholder="Example: Waconia">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-state">State:</label>
                    <input class="form-input w-100 my-1" id="address-state" name="address-state" value="{{state}}"
                        placeholder="Example: MN">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-zip">Zip Code:</label>
                    <input class="form-input w-100 my-1" id="address-zip" name="address-zip" value="{{zip}}"
                        placeholder="Example: 55387">
                </div>
            </div>

            {{!-- Move-in and Move-out Dates, Bedrooms, Square Footage, Rent Amount, and Rating --}}
            <div class="row">
                <h4 class="mt-4">Additional Details:</h4>
                <div class="col-md-6 form-group my-2">
                    <label for="address-move-in">Move-in Date:</label>
                    <input class="form-input w-100 my-1" id="address-move-in" name="address-move-in" type="date"
                        value="{{format_date_to_input leases.[0].start_date}}">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-move-out">Move-out Date:</label>
                    <input class="form-input w-100 my-1" id="address-move-out" name="address-move-out" type="date"
                        value="{{format_date_to_input leases.[0].end_date}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group my-2">
                    <label for="address-bedrooms">Bedrooms:</label>
                    <input class="form-input w-100 my-1" id="address-bedrooms" name="address-bedrooms" value="{{leases.[0].rent_bedrooms}}"
                        placeholder="Example: 3br">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-square-footage">Square Footage:</label>
                    <input class="form-input w-100 my-1" id="address-square-footage" name="address-square-footage" value="{{leases.[0].square_footage}}"
                        placeholder="1200">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-rent-amount">Monthly Rent:</label>
                    <input class="form-input w-100 my-1" id="address-rent-amount" name="address-rent-amount" value="{{leases.[0].rent_amount}}"
                        placeholder="1575">
                </div>
                <div class="col-md-6 form-group my-2">
                    <label for="address-rating">My Rating (1-10)</label>
                    <input class="form-input w-100 my-1" id="address-rating" name="address-rating" value="{{reviews.[0].rating}}">
                </div>
                <div class="col-md-12 form-group my-2">
                    <label for="address-review">Add Review (optional):</label>
                    <textarea class="form-input w-100 my-1" id="address-review" name="address-review">{{reviews.[0].content}}</textarea>
                </div>
            </div>

            <div class="form-group my-4">
                <button type="submit" class="btn btn-primary save-property-btn">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="row mb-5"></div>

<script>
    var data = {{{ json this}}};
    console.log(data);
</script>

<script src="../js/editProperty.js"></script>
