<div class="row">
    <!-- Properties Section -->
    <div class="col-12 mb-4 text-white">
        <h2>Properties</h2>
        <div id="properties-list">
        <div class="d-flex flex-wrap align-items-end">
            {{#each properties}}
            <div class=""property">
            <div class="card m-2" style="width: 18rem; min-height:32rem;">
                <div class="card-body">
                        <!-- Property Images -->
                        {{#if this.PropertyDocuments}}
                        <div class="property-images-card">
                            {{#each this.PropertyDocuments}}
                            <img src="{{this.link}}" alt="Property Image" class="img-fluid mb-3" />
                            {{/each}}
                        </div>
                        {{/if}}
                    <a href="/properties/{{id}}" class="card-link">
                        <h5 class="card-title text-primary">{{name}}</h5>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">{{address1}} {{address2}}</h6>
                    <h6 class="card-subtitle mb-4 text-muted">{{city}}, {{state}} {{zip}}</h6>
                    <p class="card-subtitle mb-2 text-muted">Managed by: {{user.name}}</p>
                    <p class="card-subtitle mb-2 text-muted">{{user.email}}</p>
                    <p class="card-subtitle mb-2 text-muted">{{user.phone}}</p>
                    <img src="{{average_rating reviews}}" alt="Average Rating" class="img-fluid mb-3 rating-img">
                </div>
            </div>
            </div>
            {{/each}}
        </div>
        </div>
    </div>

    
    <!-- Renters Section -->
    <div class="col-12">
        <h2>Renters</h2>
        <div class="d-flex flex-wrap">
            {{#each renters}}
            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{email}}</h6>
                    <p class="card-text">Contact: {{phone}}</p>
                    <!-- TODO: Add more renter details here, like properties, reviews -->
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


